<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
    <script> console.log(content);</script>
</head>
<body>

    <form method="POST" action="/comments">
        <div> {{data.post}} </div>
        <h4> Comments Section </h4>
        <hr/>
        <div> {{data.comment}} </div>
        <textarea id="1" name="comment" placeholder="Enter commnts here"></textarea>
        <input type = "hidden" display = "none" name = "blog"  value = {{data.post}} >
        <input type="submit" value="POST">

    </form>
</body>
</html>